<h2>募集の新規登録</h2>
<%= form_for(@work) do |f|%>
  <div class="field">
    <%= f.label '求人タイトル'%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '求人内容説明'%><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label '応募条件' %><br>
    <%= f.text_area :condition %>
  </div>
  
  <div class="field">
    <%= f.label '郵便番号(先に入力すると、住所が自動入力されます)' %><br>
    <%= f.text_field :postal_code, id: "work_postcode" %>
  </div>

  <div class="field">
    <%= f.label '都道府県' %><br>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, id: 'work_prefecture_code' %>
  </div>

  <div class="field">
    <%= f.label '市区町村' %><br>
    <%= f.text_field :address_city, id: 'work_city' %>
  </div>

  <div class="field">
    <%= f.label 'それ以下の住所' %><br>
    <%= f.text_field :address_street, id: 'work_street' %>
  </div>

  <div class="field">
    <%= f.label 'それ以下の住所（建物名・部屋番号）' %><br>
    <%= f.text_field :address_building %>
  </div>
  <div class="field">
    <%= f.label 'カテゴリーを選択' %>
    <%= f.collection_select :category, Category.all, :id, :name, {include_blank: '選択してください'} %>
  </div>
  <div class="field">
    <%= f.label '配布ポイント' %><br>
    <%= f.number_field :reward %>
  </div>
  <div class="field">
    <%= f.label '画像をアップロード' %>
    <p class="img-1">画像1：<%= f.attachment_field :image %></p>
  </div>
  <div class="field">
    <%= f.label :started_at, '勤務開始日時' %>
    <%= raw sprintf(
      f.datetime_select(
        :started_at,
        {
          start_year:     Time.zone.now.year,
          end_year:       Time.zone.now.next_year.year,
          default:        Time.zone.now,
          use_two_digit_numbers: true,
          date_separator: '%s',
          datetime_separator: '%s',
          time_separator: '%s'
        },
        { class: 'date-select' }
      ),
      '年 ', '月 ', '日 ', '時 ') + '分'
    %>
  </div>
  <div class="field">
    <%= f.label :ended_at, '勤務終了日時' %>
    <%= raw sprintf(
      f.datetime_select(
        :ended_at,
        {
          start_year:     Time.zone.now.year,
          end_year:       Time.zone.now.next_year.year,
          default:        Time.zone.now,
          use_two_digit_numbers: true,
          date_separator: '%s',
          datetime_separator: '%s',
          time_separator: '%s'
        },
        { class: 'date-select' }
      ),
      '年 ', '月 ', '日 ', '時 ') + '分'
    %>
  </div>
  
  <div class="field row">
  </div>
  <div class="field row">
  </div>
  <div class="field row">
  </div>
  <div class="field row">
  </div>
  <div class="field row">
  </div>

  <div>
  　　<%= f.submit '求人を作成する' , class: "btn btn-primary col-xs-5"%>
  </div>
  
<% end %>