<div class="clearfix">
  <%= render "shared/left_field", post: @post %>
  <div class="right-field">
    <div class='right-field-title'>
      <h3>求人詳細</h3>
    </div>
    
    <div class="show-item">
      <h4 class="show-item-title"><%= @work.title %></h4>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">勤務日時</h4>
      <div class="show-item-content">
        <p><%= @work.started_at.to_s(:datetime_jp) %> ~ <%= @work.ended_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">カテゴリー</h4>
      <div class="show-item-content">
        <% if @work.category %>
          <p><%= @work.category.name %></p>
        <% else %>
          <p>カテゴリーなし</p>
        <% end %>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">勤務内容</h4>
      <div class="show-item-content">
        <p><%= @work.condition %></p>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">勤務地</h4>
      <div class="show-item-content">
        <p><%= @work.prefecture_name %><%= @work.address_city %><%= @work.address_street %><%= @work.address_building %></p>
      </div>
      <div class="show-item-content">
        <div id="map">
    　　</div>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">付与ポイント</h4>
      <div class="show-item-content">
        <p><%= @work.reward.to_s %>P</p>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">応募条件・資格</h4>
      <div class="show-item-content">
        <p><%= @work.condition %></p>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">イメージ画像</h4>
      <div class="show-item-content">
        <p><%= attachment_image_tag(@work, :image, :fill, 500, 300, format: 'jpeg' ) %><br></p>
      </div>
    </div>
    <div class="show-item">
      <h4 class="show-item-label">求人作成日</h4>
      <div class="show-item-content">
        <p><%= @work.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>

    <div class="show-item clearfix work_entry">
      <%= render 'shared/work_entry_form', work: @work, entry: @entry %>
    </div>
  </div>
</div>

<script>
  let map
  var geocoder

  function initMap() {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      address: "<%= @work.prefecture_name %><%= @work.address_city %><%= @work.address_street %>"
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map = new google.maps.Map(document.getElementById('map'), {
          center: results[0].geometry.location, // 地図の中心を指定
          zoom: 12 // 地図のズームを指定
        });
        marker = new google.maps.Marker({
          position: results[0].geometry.location, // マーカーを立てる位置を指定
          map: map // マーカーを立てる地図を指定
        });
      } else {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36, lng:135},
          zoom: 6
        });

        var marker = new google.maps.Marker({
          position: {lat: 36, lng:135},
          map: map
        });
      }
    });
  }
  </script>




