<div class="clearfix">
  <h2>メッセージ</h2>
  <div class="msg-left">
    <h3><%= @room.entry.work.title %></h3>
    <div class="message_field">
      <%= form_for(Message.new) do |f| %>
        <%= f.text_area :message, :size=>"40" %>
        <%= hidden_field_tag :room_id, @room.id %>
        <%= f.submit 'メッセージを送信', class: 'btn' %>
      <% end %>
    </div>
  </div>
  <div class="message_lists">
    <% @room.messages.each do |msg| %>
      <% if msg.user == @room.entry.user %>
        <div class="applied_user_msg msg-list clearfix">
          <div class="user-show-link">
            <%= link_to(msg.user) do %>
                <%= attachment_image_tag(msg.user, :profile_image, :fill, 60, 60, format: 'jpeg' ) %>
                <p><%= msg.user.display_name %></p>
            <% end %>
          </div>
          <div class="message-content">
            <p><%= msg.message %></p>
          </div>
        </div>
      <% else %>
        <div class="recruited_user_msg msg-list clearfix">
          <div class="user-show-link-r">
            <%= link_to(msg.user) do %>
                <%= attachment_image_tag(msg.user, :profile_image, :fill, 60, 60, format: 'jpeg' ) %>
                <p><%= msg.user.display_name %></p>
            <% end %>
          </div>
          <div class="message-content-r">
            <p><%= msg.message %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>