<div class="left-field">
  <div class="links">
    <h3>Menu</h3>
    <%= link_to 'メッセージ', entries_path %>
    <%= link_to '募集した求人一覧', works_my_works_path %><br>
    <%= link_to 'お気に入りしたイチゲイ', favorites_path %>
    <%= link_to 'ブックマークした求人', book_marks_path	%><br>
  </div>
  <div class="links">
    <h3>所持ポイント</h3>
    <%= current_user.point %>P
  </div>
  <%= render "shared/new_post_form", post: post %>
</div>