<div class="post_from">
  <h3>イチゲイを新規登録</h3>
  <%= form_for(post) do |f| %>
      <div class="field row">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "col-xs-8 book_title", value: nil %>
      </div>
      <div class="field row">
        <%= f.label :content %><br>
        <%= f.text_field :content, class: "col-xs-8 book_body", value: nil %>
      </div>
      <div class="field row">
        <%= f.label :url %><br>
        <%= f.text_field :url, class: "col-xs-8 book_body", value: nil %>
      </div>
      <p>画像1：<%= f.attachment_field :image %></p>
      <%= f.collection_select :category, Category.all, :id, :name, {include_blank: '選択してください'} %>
      <div class="">
        <%= f.submit "Create", method: :post, class: "btn btn-primary col-xs-8"  %>
      </div>
    <% end %>
</div>