<div class="post_form">
  <h3>イチゲイを新規登録</h3>
  <%= form_for(post) do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "", value: nil, :size=>"50" %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: "", value: nil, :size=>"50" %>
      </div>
      <div class="field">
        <%= f.label :url %><br>
        <%= f.text_field :url, class: "", value: nil, :size=>"50" %>
      </div>
      <p>画像<%= f.attachment_field :image %></p>
      <%= f.collection_select :category, Category.all, :id, :name, {include_blank: '選択してください'} %>
      <div class="">
        <%= f.submit "Create", method: :post, class: "btn btn-primary"  %>
      </div>
    <% end %>
</div>