<div class="post_form">
  <h3>イチゲイを新規登録</h3>
  <%= render 'layouts/errors', obj: post %>
  <div class="left-field-item">
    <%= form_for(post, url: {controller: 'public/posts', action: 'create'}, method: :post) do |f| %>
      <div class="post-field">
        <%= f.label 'タイトル' %><br>
        <%= f.text_field :title, class: "", value: nil, :size=>"45" %>
      </div>
      <div class="post-field">
        <%= f.label '内容' %><br>
        <%= f.text_area :content, class: "", value: nil, :size=>"45x10" %>
      </div>
      <div class="post-field">
        <%= f.label '関連URL' %><br>
        <%= f.text_field :url, class: "", value: nil, :size=>"45" %>
      </div>
      <div class="post-field">
        <%= f.label "画像" %><br>
        <%= f.attachment_field :image %>
      </div>
      <div class="post-field">
        <%= f.label "イチゲイのジャンル" %><br>
        <%= f.collection_select :category, Category.all, :id, :name, {include_blank: '選択してください'} %>
      </div>
      <div class="">
        <%= f.submit "新たなイチゲイを投稿", method: :post, class: "btn btn-primary"  %>
      </div>
    <% end %>
  </div>
</div>