<div class="right-field">
  <h3>イチゲイ詳細</h3>
  <div class="show-item">
    <h4 class="show-item-label">ユーザー</h4>
      <%= link_to(post.user) do %>
        <div class="show-item-content">
          <%= attachment_image_tag(post.user, :profile_image, :fill, 60, 60, format: 'jpeg' ) %>
          <p><%= post.user.display_name %></p>
        </div>
      <% end %>
  </div>
  <div class="show-item">
    <h4 class="show-item-label"><%= post.title %></h4>
  </div>

  <div class="show-item">
    <h4>イチゲイのカテゴリー</h4>
    <% if post.category %>
      <p><%= post.category.name %></p>
    <% else %>
      <p>カテゴリー登録なし</p>
    <% end %>
  </div>

  <div class="show-item">
    <h4 class="show-item-label">Accsess Link</h4>
    <div class="show-item-content">
      <p><%= link_to post.url, post.url %></p>
    </div>
  </div>

  <div class="show-item">
    <h4 class="show-item-label">Content</h4>
    <div>
      <p><%= post.content %></p>
      <div class="show-item-content">
        <%= attachment_image_tag(post, :image, :fill, 100, 100, format: 'jpeg' ) %>
      </div>
    </div>
  </div>

  

  <% if current_user != post.user %>
    <div class="show-item">
    <h4>この投稿をしたユーザーを、あなたの求人にスカウト</h4>
      <%= form_tag(entries_scout_path) do  %>
        <%= collection_select(:works, :id, current_user.works, :id, :title, {prompt: '選択してください'}) %>
        <%= hidden_field_tag :user_id, post.user.id, placeholder: '選択してください' %><br>
        <%= submit_tag 'この求人にスカウトする' %>
      <% end %>
    </div>
  <% end %>
  <div class="show-item"></div>
  <div class="show-item"></div>

</div>



