<% if user.posts.count != 0 %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Post URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% user.posts.each do |post| %>
        <% if post.id %>
            <td>
              <%= link_to(post.user) do %>
                <%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
              <% end %>
            </td>      
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= link_to 'イチゲイのリンク', post.url %></td>
            <td class=<%= "table__favorite--" + post.id.to_s %>>
              <%= render 'shared/favorites', post: post, user: user %>
            </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
