<% if obj.class == Post %>
  <% path = posts_path%>
  <% title = 'タイトル'%>
  <% class_name = 'イチゲイ' %>
<% else %>
  <% path = works_path%>
  <% title = '仕事名' %>
  <% class_name = '仕事' %>
<% end %>

<div class='search-form'>
  <%= search_form_for(@q, url: path) do |f| %>
    <p><%= "名前で検索" %><br><%= f.search_field :title_cont, :size => "35" %></p>
    <p><%= "カテゴリー"%><br><%= f.collection_select :category_id_eq, Category.all, :id, :name, :include_blank => '指定なし' %></p>
    <%= f.submit %>
  <% end %>
</div>