<div class='user-profile'>
  <h3>プロフィール</h3>
  <% if current_user == @user %>
    <%= button_to 'マイページを編集する', edit_user_path(current_user), method: :get %>
  <% end %>
  <div class="profile-content">
    <p class='profile-label'>ユーザーの形式</p>
    <p class='profile-item'><%= user.status_i18n %></p>
  </div>

  <div class="profile-content">
    <p class='profile-label'>名前</p>
    <p class='profile-item'><%= user.display_name %></p>
  </div>

  <div class="profile-content">
    <p class='profile-label'>紹介文</p>
    <p class='profile-item'><%= user.introduction %></p>
  </div>

  <div class="profile-content">
    <p class='profile-label'>ポートフォリオ
      <% if @user == current_user %>
         <%= link_to'ポートフォリオを追加', new_portfolio_path, class: 'portfolio-tsuika'%></p>
      <% end %>
    <% @user.portfolios.each do |portfolio| %>
      <div class="portfolio-content">
        <p class='profile-item'>
          <%= portfolio.title %>
          <% if @user == current_user %>
            <%= link_to'編集', edit_portfolio_path(portfolio), class: 'portfolio-tsuika'%>
            <%= link_to'削除', portfolio_path(portfolio), method: :delete, class: 'portfolio-tsuika'%>
          <% end %>
        </p>
        <p class='profile-item'><%= link_to portfolio.link, portfolio.link %></p>
        <p class='profile-item'><%= portfolio.description %></p>
      </div>
    <% end %>
  </div>
  <div class="profile-content">
    <p class='profile-label'>ユーザーのリンク（twitter, github, Youtube等）</p>
    <p class='profile-item'><%= link_to user.url_link, user.url_link %></p>
  </div>

</div>