<!DOCTYPE html>
<html>
  <head>
    <title>Mimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="header-content clearfix">
        <div class="logo">
          <%= link_to 'Ichigei', root_path %>
        </div>
        <nav class='header-nav'>
          <% if current_user %>
            <ul class="nav-list clearfix">
              <li><%= link_to 'トップページへ', root_path %></li>
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to 'みんなの投稿一覧', posts_path %></li>
              <li><%= link_to '仕事を探す', works_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% elsif current_admin %>
            <ul class="nav-list">
              <li><%= link_to 'トップページへ', root_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav-list">
              <li><%= link_to 'トップページへ', root_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to '会員登録', new_user_registration_path %></li>
            </ul>
          <% end %>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
